.card_switch {
  background-color: #ee5307 !important;
}
h1 {
  color: rgb(0, 120, 141);
  background: blanchedalmond;
  border-radius: 4px;
}
.button1 {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  /*   background: linear-gradient(145deg, #5a971e, #76c85b); */
  background: linear-gradient(145deg, #177d02, #0ebb08);
  box-shadow:
    5px 5px 8px #46370a,
    -2px -2px 8px #fb9868!important;
}
.button1:active {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  /*   background: linear-gradient(145deg, #5a971e, #76c85b); */
  background: linear-gradient(145deg, #177d02, #0ebb08);
  /*     box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #ffe765 !important; */
  box-shadow:
    5px 5px 8px #f8ea7d,
    -2px -2px 8px #ffe765 !important;
}

.bplay{
   background: linear-gradient(90deg, rgba(223,123,0,1) 0%, rgba(255,214,0,0.9724090319721639) 28%, rgba(237,218,0,1) 66%, rgba(255,231,0,1) 100%)!important;
  color:#af0003 !important;
  cursor: pointer;
}
.groupbox {
  /* box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff !important; */
  box-shadow:
    inset 2px 2px 4px #6f3c10, inset -2px -2px 4px rgb(240, 117, 57);
}


input[type="text"] {
  /* width: 10%; */
  box-shadow:
    inset 2px 2px 4px #915454, inset -2px -2px 4px rgb(247, 154, 154) !important;
}

