.card_switch {
    background-color: #f2aa00 !important;
}
h1 {
  color: rgb(0, 120, 141);
  background: blanchedalmond;
  border-radius: 4px;
}
.button1 {
    color: rgb(56, 66, 63) !important;
    border-radius: 20px;
    background: linear-gradient(145deg, #5a971e, #76c85b) !important;
    box-shadow: 5px 5px 8px #46370a, -2px -2px 8px #ffe765 !important;
}
.button1:active{
    color: rgb(56, 66, 63) !important;
    border-radius: 20px;
    background: linear-gradient(145deg, #5a971e, #76c85b) !important;
/*     box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #ffe765 !important; */
    box-shadow: 5px 5px 8px #f8ea7d, -2px -2px 8px #ffe765 !important;
}

.groupbox{

/* box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff !important; */
  box-shadow: inset 2px 2px 4px #998907, inset -2px -2px 4px rgb(251, 225, 124);
}
