:root {
    --out_wide: 15px 15px 30px #919191,
        -15px -15px 30px #ffffff;
    --out_short: 6px 6px 16px #919191,
        -6px -6px 10px #ffffff;
    --ins: inset 2px 2px 4px #8a8a8a,
        inset -2px -2px 4px rgb(255, 255, 255);

}

html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    height: 100%;
}

.main {
    display: flex;
    /* box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff; */
    /* border-radius: 10px; */
}

h1 {
    color: rgb(0, 120, 141);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
    /* font-size: 56px; */
    /* padding: 0vh; */
}

p {
    font-size: 1.5rem;
}



input[type=submit],
input[type=reset],
input[type=option] {
    border: chartreuse;
    border: solid 0px orange;
    color: rgb(107, 107, 106);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    display: flexbox;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(145deg, #d3d3d3, #ffffff);
    box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #fff;
}

input[type=text] {
    /* width: 10%; */
    /* min-width: 1cm; */
    display: flex;
    width: 2cm;
    padding: 8px 8px;
    margin: 8px 0;
    margin-right: 10px;
    margin-left: 10px;
    /* box-sizing: border-box; */
    /* border: 0px solid rgb(184, 204, 0); */
    border-radius: 4px;
    /* background-color: rgb(233, 231, 231); */
    background-color: transparent;
    /* color: rgb(0, 75, 4); */
    text-size-adjust: 32px;
    text-align: center;
    /* border-radius: 50px; */
    /* background: linear-gradient(145deg, #d3d3d3, #ffffff);
      box-shadow:  10px 10px 18px #e0e0e0, -2px -2px 18px #fff; */
    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
}

input[type=submit]:hover {
    background-color: yellow;
    color: rgb(36, 29, 1);
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(139, 139, 139);
    opacity: 1;
    /* Firefox */
}

.menu li {
    display: inline;
    margin: 20px;
    /* background-color: #008CBA; */
}

.button1 {
    color: rgb(78, 75, 75);
    padding: 8px;
    border: 0px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    background: linear-gradient(145deg, #d3d3d3, #ffffff);
    box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #fff;
    cursor: pointer;
}

.button1:active {
    color: rgb(78, 75, 75);
    padding: 8px;
    border: 0px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    /* background: linear-gradient(145deg, #d3d3d3, #ffffff);
                    box-shadow:  10px 10px 18px #e0e0e0, -2px -2px 18px #fff; */

    background: linear-gradient(145deg, #d3d3d3, #ffffff);
    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
    cursor: pointer;
}

.port {
    padding: 8px;
    border: 0px;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(145deg, #d4d4d4, #f3f3f3);
    box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff;
}

.port:active {
    padding: 8px;
    border: 0px;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 50px;
    background: linear-gradient(145deg, #d4d4d4, #f3f3f3);
    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
}

.units {
    font-size: 1.2rem;
}

.sensor-labels {
    font-size: 1.5rem;
    vertical-align: middle;
    padding-bottom: 15px;
}


.card_switch {
    /* Add shadows to create the "card" effect */
    box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff;
    /* flex-wrap: inherit; */
    transition: 0.3s;
    color: rgb(95, 95, 95);
    margin-top: 0mm;
    display: block;
    background-color: #dbdbdb;
    /* border-radius: 10px; */
    margin-right: 5mm;
    /* padding-bottom: 5mm; */
    min-width: 9cm;
    align-items: left;
    justify-content: left;
    /* display: flex; */
    justify-items: left;
    /* position: relative; */
    flex-flow: row wrap;
    /* flex-wrap: inherit; */
    flex-direction: column;
    display: inline-block;
    /* box-shadow: 12px 12px 12px #b3b0b0, -4px -4px 12px #fff; */
    /*centering card
    /* flex-wrap: wrap; */
    /* position: relative; */
    /* flex-direction: row; */
    /* word-wrap: break-word; */
}

.Action {
    align-items: left;
    justify-content: left;
    /* display: flex; */
    justify-items: left;
    /* position: relative; */
    /*            flex-flow:     row wrap; */
    /* flex-wrap: inherit; */
    /* flex-direction: row; */
    display: inline;
}

/* On mouse-over, add a deeper shadow */
.card_switch:hover {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); */
    box-shadow: 12px 12px 12px #b3b0b0, -4px -4px 12px #fff;
}

h2 {
    color: rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}


div p3 {
    text-align: center;
    color: rgb(255, 102, 0);
    font-family: sans-serif;
    /* background-color: teal; */
    display: block;
    margin-top: 5mm;
}

div p5 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(65, 0, 22);
    /* background-color: teal; */
    display: block;
    margin-top: 5mm;
}

/* https://blogfonts.com/download/p-53339-1/Predator.file */
div p4 {
    text-size-adjust: 14pt;
    text-transform: uppercase;
    /* margin-left: 5mm; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: #2196F3;
}

div p6 {
    text-size-adjust: 10pt;
    /* text-transform: uppercase; */
    /* margin-left: 5mm; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    color: wheat;
    /* color: rgb(242, 248, 188); */
    /* font-family: 'Segoe UI', sans-serif; */
    text-align: center;
}

._form {

    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.groupbox {
    display: grid;
    /* margin: auto; */
    margin: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff;
}

.groupboxx {
    display: block;
    /* margin: auto; */
    margin: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
}

.ceditbox {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.veditbox {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.edit {

    padding-left: 6px;
    padding-right: 6px;
    display: block;
    margin: 6px;
    color: rgb(95, 95, 95);
    /* width: 100px; */
    /* flex-wrap: wrap; */
    border-radius: 10px;
    background-color: #dbdbdb;
    /* background: linear-gradient(145deg, #d3d3d3, #ffffff);  */

    /* box-shadow: inset 2px 2px 6px #8a8a8a, inset -2px -2px 6px rgb(255, 255, 255); */
    box-shadow: 6px 6px 12px #b3b0b0, -2px -2px 12px #fff;
}

/* Style the tab */


/* Style the buttons inside the tab */
.tab button {
    background-color: rgb(158, 158, 158);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: rgb(70, 70, 70);
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(253, 253, 253);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(221, 221, 221);
    color: rgb(29, 29, 29);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    background-color: rgb(221, 221, 221);
}



.switchled {

    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;

    margin-left: 3mm;
    margin-right: 3mm;
}

.switchled input {

    opacity: 0;
    width: 0;
    height: 0;
}

.switch_led {
    background-color: rgb(61, 61, 61);
    align-items: center;
    /* centervertical/*
          padding-left: 10mm;
          padding-right: 10mm;
          /* padding-bottom: 10mm; */
    justify-content: center;
    display: flex;



}

/* The slider */
.slider {
    /* position: absolute; */
    cursor: pointer;
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    border-radius: 20px;
    /* background-color: rgb(230, 34, 34); */
    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    /* position: absolute; */
    content: "";
    height: 26px;
    width: 26px;
    /* left: 4px; */
    bottom: 4px;
    border-radius: 50%;
    /* background-color: rgb(230, 22, 22); */
    background: linear-gradient(145deg, #ffffff, #b3b1b1);
    box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #fff;
    /* box-shadow: 5px 5px 8px #8a8a8a, -2px -2px 8px #fff; */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: rgb(95, 248, 215); */

    /* background-color: rgb(126, 126, 126); */
}


input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */

    box-shadow: inset 2px 2px 4px #8a8a8a, inset -2px -2px 4px rgb(255, 255, 255);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}